#single-page-header{
	margin-bottom:20px;
}

#single-page-header > div{
	padding:20px;
}

#addBook{
	max-width:250px;
}

#searchForm{
	max-width:500px;
}

#booksHeader{
	margin-top:260px;
}

.image{
	max-width:180px;
	max-height:250px;
	margin-right:20px;
}

.btn-success > span::before{
	content:"Actif";
}

.btn-danger > span::before{
	content:"Inactif";
}

#usersAdminView .btn{
	min-width: 100px;
	margin-top: 10px;
}

#userDetailInfo .btn-primary{
	width:300px;
}

#footer{
	margin-top:20px;
}

#viewMainReservation .image{
	max-width:90px !important;
	max-height:125px !important;
	margin-right:auto;
}

.modal-content{
	padding:20px;
	padding-bottom: 50px;
}